<section class="content-header inline-navigation">
  <h4 ng-if="$ctrl.title">{{ $ctrl.title }}</h4>
  <ul class="clearfix">
    <li ng-repeat="item in $ctrl.navList" class="nav-item">
      <a ui-sref="{{ item.stateRef }}" ui-sref-active="active">{{ item.title }}</a>
    </li>

    <li ng-repeat="item in $ctrl.btnList" class="btn-item pull-right">
      <a ui-sref="{{ item.stateRef }}" class="btn {{ item.btnClass || 'btn-success' }} m-l-md" ng-click="$ctrl.handleClick(item, $event);">{{ item.title }}</a>
    </li>

    <li ng-if="$ctrl.backBtn" class="btn-item pull-right">
      <a href ng-click="$root.back()" class="btn btn-default">返回</a>
    </li>
  </ul>
</section>

<div block-ui="main" class="block-ui-main">
  <div ui-view></div>
</div>
