<section class="content-header clearfix">
    <h4>资料设置</h4>
    <a href="javascript:void(0)" class="btn btn-default pull-right" ng-click="$root.back();">返回</a>
</section>
<section class="content body-content" block-ui="main">

    <div class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputName" ng-model="vm.person.true_name" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPhone" class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputPhone" ng-model="vm.person.phone" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPwd" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputPwd" ng-model="vm.person.new_password" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">角色信息</label>
            <div class="btn-group col-sm-2">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{vm.person.role_name}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="role in vm.roleList"><a ng-click="vm.person.role_name=role.name;vm.person.role=role.value" href="javascript:void(0)">{{role.name}}</a></li>
              </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">用户状态</label>
            <div class="btn-group col-sm-2">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{vm.stateArr[vm.person.state]}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="vm.person.state=0" href="javascript:void(0)">未激活</a></li>
                <li><a ng-click="vm.person.state=1" href="javascript:void(0)">正常</a></li>
                <li><a ng-click="vm.person.state=2" href="javascript:void(0)">已冻结</a></li>
                <li><a ng-click="vm.person.state=3" href="javascript:void(0)">已删除</a></li>
              </ul>
            </div>
        </div>
        <div class="form-group">
            <button type="button" ng-click="vm.setUser()" class="btn btn-success">提交</button>
        </div>
    </div>
</section>