<section class="content-header">
    <button type="button" class="btn btn-success pull-right m-l-sm" style="position: relative; z-index: 2;"
            ng-click="vm.addCompany()"><i class="icon-Plus"></i> 添加
    </button>

    <button type="button" class="btn btn-info pull-right" style="position: relative; z-index: 2;" data-toggle="modal" data-target=".pop-player"
            ng-click="$emit('batchUploadVc');"><i class="icon-Plus"></i> 批量录入
    </button>
    <div>
      <mc-batch-upload-vc></mc-batch-upload-vc>
    </div>

  <div class="options">
    <div class="option-item option-time">
      <ul class="clearfix">
        <li>
          <div class="input-group search-box">
            <input ng-model="vm.filters.keyword" type="text" placeholder="请输查询" class="form-control"
                    code="13" key-event="vm.reSearch();">
            <span class="input-group-btn">
              <button ng-click="vm.reSearch()" class="btn btn-default search" type="button"><i class="icon-search"></i></button>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="option-item large">
      <span class="item-title text-right">所属机构：</span>
      <ul class="clearfix">
            <li>
                <select name="" id="" class="form-control c-select" 
                  ng-model="vm.filters.agency" ng-options="item for item in vm.agencyList" ng-change="vm.changeAgency()">
                  <option value="">全部</option>
                </select>
            </li>
        </ul>
    </div>
</section>

<section class="content body-content body-content-compact block-ui block-ui-message-custom" block-ui="main">
  <empty-tip ng-if="vm.list.length === 0"></empty-tip>

  <div class="panel">
    <table class="table table-striped text-center">
      <tr>
        <th class="col-m-5 text-center">公司名称</th>
        <th class="col-m-5 text-center">所属机构</th>
        <!-- <th class="col-m-1 text-center">其它信息</th> -->
        <!-- <th class="col-m-2 text-center">备注</th> -->
        <th class="col-m-2 text-center">操作</th>
      </tr>
      <tr ng-repeat="item in vm.list | filter: vm.filters.agency">
        <td>{{item.name}}</td>
        <td>{{item.vc_name}}</td>
        <!-- <td>{{item.agency}}</td> -->
        <!-- <td>{{item.note}}</td> -->
        <td><a href="javascript:void(0)" class="text-danger" ng-click="vm.delete(item)">删除</a></td>
      </tr>
    </table>
  </div>

  <mc-pagination total-items="vm.pagination.count" items-per-page="vm.pagination.pageSize" current-page="vm.pagination.page" page-change="vm.pageChanged()"></mc-pagination>

</section>

