.content-header {
	.icon {
		margin-right: 5px;
	}
}


.common-card {
	.card-header {
		padding: 17px 28px;

		background-color: #fafafa;

		border-bottom: 1px solid #f0f0f0;

		h5 {
			font-size: 17px;
			line-height: 1;

			margin: 0;
		}
	}
	.card-body {
		padding: 12px 28px;

		position: relative;

		dl {
      position: relative;
			margin: 0;

			font-size: 16px;

			dt, dd {
				display: inline-block;
        line-height: 30px;
			}

			dt {
        position: absolute;
				color: #a6a6a6;
				font-weight: normal;
			}

      dd{
        padding-left: 48px;
        min-height: 30px;
        span {
          padding-right: 12px;
        }
      }
		}

		a.check-detail {
			position: absolute;

			right: 28px;
			bottom: 19px;
		}
	}
}

.check-group {
	padding: 50px;

	background-color: #fff;

	.content {
		width: 48%;
		margin: 0 auto;
	}

	.group {
		padding: 15px 0 ;

		border-bottom: none;

		label {
			position: absolute;

			width: 80px;

			color: #a6a6a6;

			span {
				color: #f00;
			}
		}

		.group-content {
			margin-left: 100px;
			min-height: 40px;
		}

		textarea {
			width: 240px;
			height: 110px;
		}

		input.name, select.area {
			width: 240px;
		}

		span.item-wrapper {
			display: inline-block;

			margin: 0 20px 10px 0;

			position: relative;

			.icon-delete {
				position: absolute;

				font-size: 20px;

				right: -10px;
				top: -10px;

				color: rgba(0,0,0,0.5);

				cursor: pointer;
			}

			.item {
				display: inline-block;

				padding: 5px 15px;
			    font-size: 14px;
			    line-height: 1.3;
			    color: #1db65e;

			    border: 1px solid #1db65e;
			    border-radius: 2px;
			}
		}

    .show_text {
      display: inline-block;
      // line-height: 30px;
    }

		.icon-plus {
			margin-right: 6px;
		}
	}
}
