<div class="modal-header">
  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel();">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <h4 class="modal-title">添加机构</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="Form">
    <div class="form-group clearfix">
      <label for="noteInput" class="col-sm-4 control-label">机构名称</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="vm.inputInfo.name" placeholder="请输入"
          validator="required">
      </div>
    </div>
    <div class="form-group clearfix">
      <label for="noteInput" class="col-sm-4 control-label">机构地址</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="vm.inputInfo.address" placeholder="请输入"
          validator="required">
      </div>
    </div>
    <div class="form-group clearfix">
      <label for="noteInput" class="col-sm-4 control-label">联系电话</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="vm.inputInfo.phone" placeholder="请输入"
          validator="required">
      </div>
    </div>

  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="vm.cancel()">取消</button>
    <button type="button" class="btn btn-success btn-sm" ng-click="vm.submit(Form)"> 保存</button>
  </div>
</div>
