<header class="main-header clearfix">
  <nav class="navbar navbar-static-top">
    <ul class="nav navbar-nav pull-right">
      <li><a href="javascript:;" ui-sref="message.list" ui-sref-active="active"><i class="icon-header_message_ic"></i></a></li>
      <li><a href="javascript:;" ng-click="vm.logout()"><i class="icon-header_exit_ic"></i></a></li>
      <li class="divider"></li>
      <li class="user-profile">
        <a href="javascript:;" ui-sref="person.detail">
          <!-- <img ng-src="{{vm.info.avatar}}" alt="{{vm.info.name}}"> -->
          <span>您好，{{vm.info.name}}</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
