<div class="modal-header">
  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel();">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <h4 class="modal-title">添加用户</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="Form">
    <div class="form-group clearfix">
      <label for="noteInput" class="col-sm-4 control-label">真实姓名：</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="vm.inputInfo.true_name" placeholder="请输入"
          validator="required">
      </div>
    </div>
    <div class="form-group clearfix">
      <label for="noteInput" class="col-sm-4 control-label">手机号码：</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="vm.inputInfo.phone" placeholder="请输入"
          validator="required" auto-complete="vm.autoCompleteOptions">
      </div>
    </div>
    <div class="form-group clearfix">
      <label for="noteInput" class="col-sm-4 control-label">角色：</label>
      <div class="btn-group col-sm-2">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{vm.inputInfo.role_name}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="vm.inputInfo.role_name='管理员';vm.inputInfo.role='ROLE_ADMIN'" href="javascript:void(0)">管理员</a></li>
          <li><a ng-click="vm.inputInfo.role_name='分行行长';vm.inputInfo.role='ROLE_BRANCH_PRESIDENT'" href="javascript:void(0)">分行行长</a></li>
          <li><a ng-click="vm.inputInfo.role_name='支行行长';vm.inputInfo.role='ROLE_END_PRESIDENT'" href="javascript:void(0)">支行行长</a></li>
          <li><a ng-click="vm.inputInfo.role_name='客户经理';vm.inputInfo.role='ROLE_CUSTOMER_MANAGER'" href="javascript:void(0)">客户经理</a></li>
        </ul>
      </div>
    </div>

  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="vm.cancel()">取消</button>
    <button type="button" class="btn btn-success btn-sm" ng-click="vm.submit(Form)"> 保存</button>
  </div>
</div>
