<section class="content-header clearfix">
    <h4>刷新时间设置</h4>
</section>
<section class="content body-content" block-ui="main">

    <div class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">刷新时间</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputName" ng-model="vm.keyValue" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <button type="button" ng-click="vm.setConfig()" class="btn btn-success">提交</button>
        </div>
    </div>
</section>