<section class="content-header">
  <div class="options">
    <div class="option-item option-time">
      <ul class="clearfix">
        <li>
          <div class="input-group search-box">
            <input ng-model="vm.filters.module" type="text" placeholder="请输模块名查询" class="form-control"
                    code="13" key-event="vm.reSearch();">
            <span class="input-group-btn">
              <button ng-click="vm.reSearch()" class="btn btn-default search" type="button"><i class="icon-search"></i></button>
            </span>
          </div>
        </li>
        <li>
          <mc-datepicker id="startDatePicker" start-date="vm.start_date" max-date="vm.startTimeMaxLimit" time-source="" ctrl-alias="vm" min-view="'minutes'" change-time="vm.changeTime('start')" change-by="close"></mc-datepicker> --
          <mc-datepicker id="endDatePicker" start-date="vm.end_date" min-date="vm.endTimeMinLimit" max-date="vm.endTimeMaxLimit" time-source="" ctrl-alias="vm" min-view="'minutes'" change-time="vm.changeTime('end')" change-by="close"></mc-datepicker>
        </li>
      </ul>
    </div>
</section>

<section class="content body-content body-content-compact block-ui block-ui-message-custom" block-ui="main">
  <empty-tip ng-if="vm.list.length === 0"></empty-tip>

  <div class="panel">
    <table class="table table-striped text-center">
      <tr>
        <th class="col-m-1 text-center">时间</th>
        <th class="col-m-1 text-center">模块</th>
        <th class="col-m-1 text-center">操作</th>
        <th class="col-m-1 text-center">操作参数</th>
        <th class="col-m-1 text-center">操作人</th>
      </tr>
      <tr ng-repeat="item in vm.list">
        <td>{{item.created}}</td>
        <td>{{item.module}}</td>
        <td>{{item.action}}</td>
        <td>{{item.data}}</td>
        <td>{{item.operator}}</td>
      </tr>
    </table>
  </div>

  <mc-pagination total-items="vm.pagination.count" items-per-page="vm.pagination.pageSize" current-page="vm.pagination.page" page-change="vm.pageChanged()"></mc-pagination>

</section>
