<section class="content-header">
  <div class="options">
    <div class="option-item option-time">
      <ul class="clearfix">
        <li>
          <div class="input-group search-box">
            <input ng-model="vm.filters.true_name" type="text" placeholder="请输姓名查询" class="form-control"
                    code="13" key-event="vm.reSearch();">
            <span class="input-group-btn">
              <button ng-click="vm.reSearch()" class="btn btn-default search" type="button"><i class="icon-search"></i></button>
            </span>
          </div>
        </li>
        <li>
          <div class="input-group search-box">
            <input ng-model="vm.filters.phone" type="text" placeholder="请输手机号查询" class="form-control"
                    code="13" key-event="vm.reSearch();">
            <span class="input-group-btn">
              <button ng-click="vm.reSearch()" class="btn btn-default search" type="button"><i class="icon-search"></i></button>
            </span>
          </div>
        </li>
        <li>
          <div class="input-group search-box">
            <input ng-model="vm.filters.bank_name" type="text" placeholder="请输银行查询" class="form-control"
                    code="13" key-event="vm.reSearch();">
            <span class="input-group-btn">
              <button ng-click="vm.reSearch()" class="btn btn-default search" type="button"><i class="icon-search"></i></button>
            </span>
          </div>
        </li>
        <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{vm.filters.state?vm.stateArr[vm.filters.state]:'全部'}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="vm.filters.state=undefined;vm.reSearch()" href="javascript:void(0)">全部</a></li>
                <li><a ng-click="vm.filters.state=0;vm.reSearch()" href="javascript:void(0)">未激活</a></li>
                <li><a ng-click="vm.filters.state=1;vm.reSearch()" href="javascript:void(0)">正常</a></li>
                <li><a ng-click="vm.filters.state=2;vm.reSearch()" href="javascript:void(0)">已冻结</a></li>
                <li><a ng-click="vm.filters.state=3;vm.reSearch()" href="javascript:void(0)">已删除</a></li>
              </ul>
            </div>
        </li>
        <li>
          <button type="button" class="btn btn-success pull-right m-l-sm" style="position: relative; z-index: 2;"
                  ng-click="vm.addUser()"><i class="icon-Plus"></i> 添加
          </button>

          <button type="button" class="btn btn-info pull-right" style="position: relative; z-index: 2;" data-toggle="modal" data-target=".pop-player"
                  ng-click="$emit('batchUploadUser');"><i class="icon-Plus"></i> 批量录入
          </button>
        </li>
      </ul>
    </div>
    <div>
      <mc-batch-upload-user></mc-batch-upload-user>
    </div>
</section>

<section class="content body-content body-content-compact block-ui block-ui-message-custom" block-ui="main">
  <empty-tip ng-if="vm.list.length === 0"></empty-tip>

  <div class="panel" ng-if="vm.list.length > 0">
    <table class="table table-striped text-center">
      <tr>
        <th class="col-m-1 text-center">id</th>
        <th class="col-m-1 text-center">姓名</th>
        <th class="col-m-1 text-center">手机号</th>
        <th class="col-m-1 text-center">所属角色</th>
        <th class="col-m-1 text-center">机构名称</th>
        <th class="col-m-1 text-center">状态</th>
        <th class="col-m-1 text-center">操作</th>
      </tr>
      <tr ng-repeat="item in vm.list">
        <td>{{item.id}}</td>
        <td>{{item.true_name}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.role_name}}</td>
        <td>{{item.bank_name}}</td>
        <td>
          <span class="text-muted" ng-if="item.state==0">未激活</span>
          <span class="text-success" ng-if="item.state==1">正常</span>
          <span class="text-danger" ng-if="item.state==2">已冻结</span>
          <span class="text-danger" ng-if="item.state==3">已删除</span>
        </td>
        <td>
          <a href="javascript:void(0)" ng-click="vm.assignBranch(item)">分配机构</a>
          <a ui-sref="account.detail({id: item.id})">查看<i class="icon-angle-right"></i></a>
        </td>
      </tr>
    </table>
  </div>

  <mc-pagination total-items="vm.pagination.count" items-per-page="vm.pagination.pageSize" current-page="vm.pagination.page" page-change="vm.pageChanged()"></mc-pagination>

</section>
