<div class="modal-header">
  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel();">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <h4 class="modal-title">选取地图</h4>
</div>
<div class="modal-body">
  <baidu-map options="vm.opts" ak="8BEaSdo8E7VEHjM0pxWs8gIsHhkDlOOW" on-map-loaded="vm.loadMap(map)" style="display:block;width:550px;height:500px;"></baidu-map>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="vm.cancel()">取消</button>
  </div>
</div>