<section class="content-header clearfix">
  <h4 class="title pull-left">
    {{vm.id? '编辑': '添加'}}话术
  </h4>
  <a href="javascript:void(0)" class="btn btn-default pull-right" ng-click="$root.back();">返回</a>
  <button type="button" class="btn btn-danger pull-right m-r" ng-click="vm.delete(vm.Form)" ng-if="vm.id">删除</button>
</section>
<section class="content body-content block-ui block-ui-message-custom message-detail p-m" block-ui="main">
	<form class="form-horizontal" name="vm.Form">
    <div class="form-group clearfix">
      <label for="noteInput" class="col-sm-1 control-label">标题：</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" ng-model="vm.inputInfo.title" placeholder="请输入"
          validator="required">
      </div>
    </div>
    <div class="form-group clearfix">
	    <div class="clearfix">
	      <label for="noteInput" class="col-sm-1 control-label">内容：</label>
      </div>
    	<div class="col-sm-6">
				<mdeditor default-text="vm.defaultContent" text="vm.inputInfo.content"></mdeditor>
				<input type="hidden" ng-model="vm.inputInfo.content" validator="required" />
			</div>
			<div class="col-sm-6">
				<h5>内容预览</h5>
				<p ng-bind-html="vm.html" style="background: #fff; height: 306px; overflow: auto; border: 1px solid #ddd; padding: 5px;"></p>
			</div>
    </div>
    
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" ng-click="vm.submit(vm.Form)"> 保存</button>
  </div>
</section>